{% extends "regionbase.html"%}

{% block content %}

{% for i in data %}
    {% set chtext = i %}
    {% set pic_name = chtext %}
    <div class="grid-item">
        <a href = "/{{title_lower}}/{{chtext.split() | join ('-') | lower}}/" target="_self">{{i | title}}</a>
        {% if "l" in {{title_lower}} %}
            {% set reggy={{title_lower | replace("l", "l ") | title}}}
            <img src="/static/img/{{reggy}}/{{pic_name}}.png" alt="Picture of {{pic_name}}" width="250" height="300">
        {% endif %}

        {% if "t" in {{title_lower}} %}
            {% set reggy={{title_lower | replace("t", "t ") | title}}}
            <img src="/static/img/{{reggy}}/{{pic_name}}.png">
        {% endif %}

        {% if "h" in {{title_lower}} %}
            {% set reggy={{title_lower | replace("h", "h ") | title}}}
            <img src="/static/img/{{reggy}}/{{pic_name}}.png">
        {% endif %}
    </div> 
{% endfor %}

{% endblock %}