<!DOCTYPE html>
<html lang=en>

<head>
     <title>{{title}}</title>

     <link rel="shorcut icon" type="image/png" href="/static/img/favicon.png">
     <meta charset="UTF-8">
     <meta name="description" content="Africa Informational Site">
     <meta name="keywords"
          content="Africa, country, countries, North Africa, West Africa, East Africa, Central Africa, South Africa">
     <meta name="author" content="Tobi Medeiros">
     <meta name="viewport" content="width=device-width, initial-scale-1.0">
     <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
     <link href="/static/css/stereo.css" rel="stylesheet">
</head>

<body>
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js">
     </script>

     <div class="navbar">
          <a style="float:right;" id="title" href="/">All About Africa</a>
          <a href="/economy/">Economy</a>
          <a href="/landscape/">Landscape</a>
          <a href="/climate">Climate</a>
          <a href="/technology/">Technology</a>
          <a href="/government/">Government</a>
          <a href="/cult-lang/">Culture and Language</a>
          <a href="/war/">War</a>
          <a href="/healthcare">Healthcare</a>
          <a href="/infrastructure/">Infrastructure</a>
          <a href="/education/">Education</a>
     </div>

     <script>
          function myFunction() {
               var x = document.getElementById("myLinks");
               if (x.style.display === "block") {
                    x.style.display = "none";
               } else {
                    x.style.display = "block";
               }
          }
     </script>
     <div class="info">
          {% block content %}{% endblock %}


          <footer class="footer-container">
               <div class="footer-item">
                    <a href="https://github.com/jifnjam/all-about-africa">Github</a>
               </div>
               <div class="footer-item">
                    <a href="/about/">About Us</a>
               </div>
               <div class="footer-item">
                    <a href="https://www.notion.so/travel-otm/b730fc9fc1a84e9fa6ce5a5afc227f17?v=844e59281c6f4916b96a1520ccc2e4c1&pvs=4">References</a>
               </div>
               <div class="footer-item">
                    <a href="mailto:t.medow710@gmail.com">Contact Us</a>
               </div>
          </footer>
     </div>
</body>

</html>