{% extends "stereobase.html"%}

{% block content %}

<header>{{title}}</header>
{% if title == "Economy" %}
<h2>{{ stereo_header }}</h2>
<p>{{ content1 }}</p>
<img src="{{ pic1 }}">
<p>{{ content2 }}</p>
<img src="{{ pic2 }}">
<img src="{{ pic3 }}">
<p>{{ content3 }}</p>
<img src="{{ pic4 }}">
{% elif title == "Landscape" %}
<h2>{{ stereo_header }}</h2>
<p>{{ content1 }}</p>
<h2>{{ stereo_header2 }}</h2>
<p>{{ content2 }}</p>
<img src="{{ pic1 }}">
<h2>{{ stereo_header3 }}</h2>
<p>{{ content3 }}</p>
<img src="{{ pic2 }}">
<h2>{{ stereo_header4 }}</h2>
<p>{{ content4 }}</p>
<img src="{{ pic3 }}">
<img src="{{ pic4 }}">
<h2>{{ stereo_header5 }}</h2>
<p>{{ content5 }}</p>
<img src="{{ pic5 }}">
<h2>{{ stereo_header6 }}</h2>
<p>{{ content6 }}</p>
<img src="{{ pic6 }}">
<h2>{{ stereo_header7 }}</h2>
<p>{{ content7 }}</p>
<img src="{{ pic7 }}">
<h2>{{ stereo_header8 }}</h2>
<p>{{ content8 }}</p>
<img src="{{ pic8 }}">
<h2>{{ stereo_header9 }}</h2>
<p>{{ content9 }}</p>
<img src="{{ pic9 }}">
<img src="{{ pic10 }}">
<img src="{{ pic11 }}">
<img src="{{ pic12 }}">
<h2>{{ stereo_header10 }}</h2>
<p>{{ content10 }}</p>
<img src="{{ pic13 }}">
{% elif title == "Climate" %}
<h2>{{ stereo_header }}</h2>
<p>{{ content1 }}</p>
<img src="{{ pic1 }}">
<h2>{{ stereo_header1 }}</h2>
<p>{{ content2 }}</p>
<img src="{{pic2}}">
<h2>{{ stereo_header2}}</h2>
<p>{{content3}}</p>
<h2>{{ stereo_header3}}</h2>
<p>{{content4}}</p>
<img src="{{pic3}}">
<h2>{{ stereo_header4}}</h2>
<p>{{content5}}</p>
<h2>{{ stereo_header5}}</h2>
<p>{{content6}}</p>
<img src="{{pic4}}">
<h2>{{ stereo_header6}}</h2>
<p>{{content7}}</p>
<h2>{{ stereo_header7}}</h2>
<p>{{content8}}</p>
<h2>{{ stereo_header8}}</h2>
<p>{{content9}}</p>
<img src="{{pic5}}">
{% elif title == "Technology" %}
<h2>{{stereo_header}}</h2>
<p>{{content1}}</p>
<div>{{embed1}}</div>
<p>{{content2}}</p>
{% elif title == "Government" %}
<h2>{{stereo_header}}</h2>
<p>content1</p>
<div>{{embed1}}</div>
<p>{{content2}}</p>
<div class="imgcontainer">
     <img class="imgitem" src="{{pic1}}"> 
     <img class="imgitem" src="{{pic2}}"> 
     <img class="imgitem" src="{{pic3}}"> 
     <img class="imgitem" src="{{pic4}}"> 
</div>
<p>{{content3}}</p>
{% elif title == "Culture and Language" %}
<h2>{{stereo_header}}</h2> 
<p>{{content1}}</p> 
<div>{{embed1}}</div> 
<p>{{content2}}</p>  
<img src="{{pic1}}">
<p> {{content3}}</p>  
<h2>{{stereo_header1}}</h2> 
<p> {{content4}}</p>  
<h2>{{stereo_header2}}</h2> 
<p> {{content5}}</p>  
<img src="{{pic2}}"> 
<h2>{{stereo_header3}}</h2> 
<p> {{content6}}</p>  
<h2>{{stereo_header4}}</h2>
<p> {{content7}}</p> 
<h2>{{stereo_header5}}</h2> 
<p> {{content8}}</p> 
<h2>{{stereo_header6}}</h2> 
<p> {{content9}}</p>
<div class="imgcontainer"> 
     <img class="imgitem" src="{{pic3}}"> 
     <img class="imgitem" src="{{pic4}}">
</div>
<h2>{{stereo_header7}}</h2> 
<p>{{content10}}</p> 
{% elif title == "War" %}
<h2>{{stereo_header}}</h2> 
<p>{{content1}}</p> 
<img src="{{pic1}}"> 
<p>{{content2}}</p>  
<h2>{{stereo_header2}}</h2>  
<p>{{content3}}</p> 
<img src="{{pic2}}">
{% elif title == "Healthcare" %}
<h2>{{stereo_header}}</h2>
<p>{{content1}}</p>
<img src="{{pic1}}"> 
<p>{{content2}}</p> 
<img src="{{pic2}}"> 
<p>{{content3}}</p> 
{% elif title == "Infrastructure" %}
<h2>{{stereo_header}}</h2>
<p>{{content1}}</p> 
<img src="{{pic1}}">   
<p>{{content2}}</p> 
<p>{{content3}}</p>   
<p>{{content4}}</p>  
<img src="{{pic2}}">
<img src="{{pic3}}">
<img src="{{pic4}}">
<p>{{content5}} 
{% elif title == "Education" %}
<h2>{{stereo_header}}</h2>
<p>{{content1}}</p>
<p>{{content1_2}}</p>
{{embed1}}
<p>{{content2}}</p>
<p>{{content3}}</p>
{% endif %}

{% endblock %}