{% extends "stereobase.html"%}

{% block content %}

<header>{{title}}</header>
{% if title == "Economy" %}
<h2>{{ top }}</h2>
<p>{{ piece1 }}</p>
<img src="{{ pic1 }}">
<p>{{ piece2 }}</p>
<img src="{{ pic2 }}">
{% elif title == "Landscape" %}
<h2>{{ top }}</h2>
<p>{{ piece1 }}</p>
<h2>{{ top2 }}</h2>
<p>{{ piece2 }}</p>
<img src="{{ pic1 }}">
<h2>{{ top3 }}</h2>
<p>{{ piece3 }}</p>
<img src="{{ pic2 }}">
<h2>{{ top4 }}</h2>
<p>{{ piece4 }}</p>
<img src="{{ pic3 }}">
<img src="{{ pic4 }}">
<h2>{{ top5 }}</h2>
<p>{{ piece5 }}</p>
<img src="{{ pic5 }}">
<h2>{{ top6 }}</h2>
<p>{{ piece6 }}</p>
<img src="{{ pic6 }}">
<h2>{{ top7 }}</h2>
<p>{{ piece7 }}</p>
<img src="{{ pic7 }}">
<h2>{{ top8 }}</h2>
<p>{{ piece8 }}</p>
<img src="{{ pic8 }}">
<h2>{{ top9 }}</h2>
<p>{{ piece9 }}</p>
<img src="{{ pic9 }}">
<img src="{{ pic10 }}">
<img src="{{ pic11 }}">
<img src="{{ pic12 }}">
<h2>{{ top10 }}</h2>
<p>{{ piece10 }}</p>
<img src="{{ pic13 }}">
{% endif %}

{% endblock %}